@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/* login och reg */

.Reg__Wrapper,
.Log__Wrapper {
    background-image: linear-gradient(to right, white, grey);
    width: 100%;
    min-height: 900px;
    display: flex;
}

.Reg__Items,
.Log__Items {
    margin: auto;
    background-color: white;
    display: flex;
    min-height: 630px;
    width: 800px;
}

.Form__Input-Discord {
    color: #9475B1;
}

.Form__Input-Steam {
    color: #2A475E;
}

.Form__Input-Origin {
    width: 20px;
}

.Reg__Item-Left,
.Log__Item-Left {
    width: 50%;
}

.Reg__Image,
.Log__Image {
    max-width: 100%;
    min-height: 100%;
}

.Reg__Item-Right,
.Log__Item-Right {
    width: 50%;
}

.Reg__Logo,
.Log__Logo {
    display: flex;
    justify-content: center;
}

.Reg-Form-1,
.Log-Form-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.Reg-Btn__Container {
    display: flex;
}

.Reg-Btn,
.Log-Btn,
.Create-Btn,
.Back-Btn {
    background-color: black;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    height: 30px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.Form__Input-Wrap {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.Form__Input-Wrap input {
    border: none;
    outline: none;
    background: none;
    height: 40px;
    padding-left: 6px;
}

.Hidden__Email {
    display: none;
}

.Hidden__Password {
    display: none;
}

.Error {
    text-align: center;
    color: red;
}

.Error__Email {
    text-align: center;
    color: red;
}

.Error__Password {
    text-align: center;
    color: red;
}

.games {
    border: none;
    outline: none;
    background: none;
    height: 40px;
    padding-left: 6px;
    padding-top: 10px;
    color: gray;
    width: 170px;
}

option {
    color: black;
}

.Success {
    color: #B494B9;
    text-align: center;
    font-size: 20px;
}


/* Redigera finderprofil */

.Update-Profile {
    background-image: linear-gradient(to right, white, grey);
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* filter: blur(2px); */
}

.Update-Profile__Heading {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.Content__Profile {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    font-family: 'Roboto', sans-serif;
}

.Update-Profile__Content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Profile__Profile-Picture {
    background: #FCFCFC;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.Profil__Picture-Button {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
}

.Profile__Button {
    height: 40px;
    margin-left: 50px;
}

.Profile__Heading {
    margin-left: 100px;
}

.Profile__Gender {
    display: flex;
}

.Gender__Heading {
    margin-right: 30px;
}

.Profiles__Button {
    margin-left: 50px;
}

.Profile__Age,
.Profile__City {
    display: flex;
    margin-top: 30px;
}

.Gender__Input {
    height: 30px;
    margin-top: 14px;
    text-align: center;
}

.Age__Input {
    height: 30px;
    margin-top: 14px;
    margin-left: 20px;
    text-align: center;
}

.City__Input {
    height: 30px;
    margin-top: 14px;
    margin-left: 28px;
    text-align: center;
}

.Profile__Discord,
.Profile__Steam,
.Profile__Origin {
    display: flex;
    margin-top: 30px;
}

.Discord__Input {
    height: 30px;
    margin-top: 14px;
    margin-left: 30px;
    text-align: center;
}

.Steam__Input {
    height: 30px;
    margin-top: 14px;
    margin-left: 42px;
    text-align: center;
}

.Origin__Input {
    height: 30px;
    margin-top: 14px;
    margin-left: 39px;
    text-align: center;
}

.Content__Profile-Right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Profile-Right__Heading {
    margin-top: 50px;
    margin-bottom: 50px;
}

.Profile-Right__Select {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 40px;
}

.Profile-Right__Update {
    height: 40px;
    width: 80px;
    margin-left: 50px;
}

.Profile-Right__Back {
    height: 40px;
    width: 80px;
}

.Profil-Right__Button-div {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 130px;
}

.Change-Password__Button {
    cursor: pointer;
}

.Delete__Button {
    cursor: pointer;
}

.Delete-Account__Close {
    display: flex;
}

.Close__Close-Button {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 15px;
}

.Close__Heading {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 20px;
}

.Delete-Account {
    width: 500px;
    height: 300px;
    background: white;
    position: fixed;
    left: 637px;
    bottom: 350px;
}

.Change__Password {
    width: 500px;
    min-height: 300px;
    background: white;
    position: fixed;
    left: 637px;
    bottom: 300px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px
}

.confirmChangePassword {
    text-align: center;
    color: red;
}

.Delete {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.Delete-Account__Close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.Delete-Account__Input {
    display: flex;
    justify-content: center;
}

.Delete-Account__Password {
    margin-top: 15px;
    margin-left: 10px;
    height: 20px;
}

.Delete-Account__Button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.Delete-Account__Button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 100px;
    background: red;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

.Input__Error {
    text-align: center;
    color: red;
}

.Change-Password__Items {
    display: flex;
    margin: auto;
    background-color: white;
    display: flex;
    min-height: 630px;
    width: 800px;
    justify-content: center;
}

.Change-Password__Item {
    width: 85%;
}

.Change-Password__Form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.Change-Password__Input-Wrap {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.Change-Password__Input-Wrap input {
    border: none;
    outline: none;
    background: none;
    height: 40px;
    padding-left: 6px;
}

.Change-Password__Container {
    display: flex;
}

.Change__Back-Btn,
.Change__Password-Btn {
    background-color: black;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    height: 30px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}


/* ProfilSidan!  */

.Profile__Background {
    background-image: url("./img/finderBlue.png");
    background-size: 100%;
    height: 474px;
    background-repeat: no-repeat;
    display: flex;
}

.Profile__Picture,
.Profile-Picture__Img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border: #6937A8 solid 3px;
}

.Profile-Picture__Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
}

.Profile__Info {
    width: 33%;
}

.Profile-Info__Personal {
    height: 33%;
    display: flex;
    align-items: center;
}

.Profile-Info__Username-Age {
    color: white;
    font-size: 50px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.Profile-Info__City {
    color: white;
    margin-top: 0;
    font-size: 20px;
    margin-left: 30px;
}

.Profile-Info__Discord,
.Profile-Info__Steam,
.Profile-Info__Origin {
    height: 20%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.Profile__Discord-Logo {
    color: #6477C4;
    font-size: 50px;
}

.Profile__Steam-Logo {
    color: #66C0F4;
    font-size: 50px;
}

.Origin__Logo {
    width: 50px;
    height: auto;
}

.Profile-Info__Username,
.Profile-Info__Username-Discord,
.Profile-Info__Username-Steam,
.Profile-Info__Username-Origin {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 40px;
}

.Profile__Button {
    width: 33%;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.Profile-Button__Logout {
    margin-right: 50px;
    margin-left: 50px;
}

.Profile-Button__Update,
.Profile-Button__Logout {
    cursor: pointer;
    height: 5%;
}

.Match-Button {
    background: #AC74D9;
    width: 192px;
    height: 67px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 80px;
    cursor: pointer;
}

.Profile__Match-Button {
    width: 50%;
    display: flex;
    justify-content: center;
}

.Profile__MatchList {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile__Wrapper-Container {
    display: flex;
}

.MatchList__Heading {
    margin-top: 50px;
}

.Profile__Wrappe {
    background-image: linear-gradient(to right, white, grey);
    margin: 0;
    min-height: 900px;
    font-family: 'Roboto', sans-serif;
}

.Append {
    width: 30%;
}

.User__match {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.fa-user-times {
    cursor: pointer;
    margin-top: 16px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.Line {
    border-bottom: solid black 2px;
    width: 100%;
}

.MatchList__Username {
    cursor: pointer;
}

.User__Back {
    cursor: pointer;
    color: white;
}

.MatchList__Info {
    display: flex;
    width: 100%;
}


/* Match */

.Match__Games,
.Match__User {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ac74d973;
    min-height: 1200px;
}

.Match-Games__Logo-Button,
.Match-User__Logo-Button {
    display: flex;
    width: 100%;
    background-image: url("./img/finderBlue.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.Logo-Button__Logo {
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

.Logo-Button__Button {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
    font-size: 18px;
}

.Match-Games__Matching,
.Match-User__Matching {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.Matching__Heading {
    display: flex;
    justify-content: center;
}

.Matching__Games-Button {
    display: flex;
    justify-content: center;
    height: 100px;
    padding-top: 20px;
}

.Match__Button {
    background: #AC74D9;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}

.Games-Button__Button {
    height: 30px;
    color: #847F7F;
}

.Matching__Heading h3 {
    font-size: 24px;
    font-weight: 200;
}

.Match-User,
.Match-User__Info {
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: center;
    max-height: 880px;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.Inner__Div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.Match__Lis,
.Match__List2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 700px;
    margin-bottom: 20px;
    background: #F5F5F5;
    border-radius: 24px;
    justify-content: center;
}

.Match-List__Image-Username {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.Match-Info {
    display: flex;
    width: 110%;
    font-size: 22px;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.Image-Username__Image {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

h3.Match-Username {
    text-transform: capitalize;
    margin-right: 10px;
}

.Button__GoToProfile {
    cursor: pointer;
    color: white;
}

.Match-List__Info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #4A4949;
    font-size: 20px;
}

.Game-Div {
    overflow: auto;
    width: 100%;
}

.Info__Game {
    overflow: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Info__Game-Text {
    margin-left: 20px;
}

.Hidden,
.Prototype {
    display: none;
}

.Match-Age {
    margin-top: 25px;
}

.Match-Gender {
    margin-top: 25px;
    margin-left: 10px;
}

.thumbs__Buttons {
    font-size: 40px;
}

.fa-thumbs-up {
    color: #58FF66;
    margin: 14px;
    cursor: pointer;
}

.fa-thumbs-down {
    color: #D97474;
    margin: 14px;
    cursor: pointer;
}


/* Profile Page for visitors */

.Match-Origin,
.Match-Steam,
.Match-Discord,
.Match-Game {
    margin-left: 20px;
}

.Logo-Div {
    width: 15%;
}

.logoGame {
    font-size: 35px;
}