@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, white, grey);
}

.Reg__Wrapper, .Log__Wrapper  {
    width: 100%;
    min-height: 800px;
    display: flex;
}

.Reg__Items, .Log__Items {
    margin: auto;
    background-color: white;
    display: flex;
    height: 600px;
    width: 800px;
}

.Reg__Item-Left, .Log__Item-Left {
    width: 50%;
}

.Reg__Image, .Log__Image {
    max-width: 100%;
    min-height: 100%;
}

.Reg__Item-Right, .Log__Item-Right {
    width: 50%;
}

.Reg__Logo, .Log__Logo {
    display: flex;
    justify-content: center;
}

.Reg-Form-1, .Log-Form-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.Reg-Btn, .Log-Btn  {
    background-color: black;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    height: 30px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.Form__Input-Wrap {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.Form__Input-Wrap input {
    border: none;
    outline: none;
    background: none;
    height: 40px;
    padding-left: 6px;
}

.Hidden {
    display: none;
}

.Hidden__Email {
    display: none;
}

.Hidden__Password {
    display: none;
}

.Error {
    text-align: center;
    color: red;
}

.Error__Email {
    text-align: center;
    color: red;
}

.Error__Password {
    text-align: center;
    color: red;
}

.games {
    border: none;
    outline: none;
    background: none;
    height: 40px;
    padding-left: 6px;
    padding-top: 10px;
    color: gray;
    width: 170px;
}

option {
    color: black;
}