@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, white, grey);
    margin: 0;
}

.Reg__Wrapper,
.Log__Wrapper {
    width: 100%;
    min-height: 800px;
    display: flex;
}

.Reg__Items,
.Log__Items {
    margin: auto;
    background-color: white;
    display: flex;
    min-height: 600px;
    width: 800px;
}

.Form__Input-Discord {
    color: #9475b1;
}

.Form__Input-Steam {
    color: #232388;
}

.Form__Input-Origin {
    width: 20px;
}

.Reg__Item-Left,
.Log__Item-Left {
    width: 50%;
}

.Reg__Image,
.Log__Image {
    max-width: 100%;
    min-height: 100%;
}

.Reg__Item-Right,
.Log__Item-Right {
    width: 50%;
}

.Reg__Logo,
.Log__Logo {
    display: flex;
    justify-content: center;
}

.Reg-Form-1,
.Log-Form-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.Reg-Btn__Container {
    display: flex;
}

.Reg-Btn,
.Log-Btn,
.Create-Btn,
.Back-Btn {
    background-color: black;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    height: 30px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.Form__Input-Wrap {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.Form__Input-Wrap input {
    border: none;
    outline: none;
    background: none;
    height: 40px;
    padding-left: 6px;
}

.Hidden__Email {
    display: none;
}

.Hidden__Password {
    display: none;
}

.Error {
    text-align: center;
    color: red;
}

.Error__Email {
    text-align: center;
    color: red;
}

.Error__Password {
    text-align: center;
    color: red;
}

.games {
    border: none;
    outline: none;
    background: none;
    height: 40px;
    padding-left: 6px;
    padding-top: 10px;
    color: gray;
    width: 170px;
}

option {
    color: black;
}

.Success {
    color: green;
}


/* Redigera finderprofil */

.Update-Profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Update-Profile__Heading {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.Content__Profile {
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    margin-left: 100px;
}

.Update-Profile__Content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Profile__Profile-Picture {
    background: #FCFCFC;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.Profil__Picture-Button {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
}

.Profile__Button {
    height: 40px;
    margin-left: 50px;
}

.Profile__Heading {
    margin-left: 100px;
}

.Profile__Gender {
    display: flex;
}

.Gender__Heading {
    margin-right: 30px;
}

.Profiles__Button {
    margin-left: 50px;
}

.Profile__Age,
.Profile__City {
    display: flex;
    margin-top: 30px;
}

.Gender__Input {
    height: 30px;
    margin-top: 14px;
    text-align: center;
}

.Age__Input {
    height: 30px;
    margin-top: 14px;
    margin-left: 20px;
    text-align: center;
}

.City__Input {
    height: 30px;
    margin-top: 14px;
    margin-left: 28px;
    text-align: center;
}

.Profile__Discord,
.Profile__Steam,
.Profile__Origin {
    display: flex;
    margin-top: 30px;
}

.Discord__Input {
    height: 30px;
    margin-top: 14px;
    margin-left: 30px;
    text-align: center;
}

.Steam__Input {
    height: 30px;
    margin-top: 14px;
    margin-left: 42px;
    text-align: center;
}

.Origin__Input {
    height: 30px;
    margin-top: 14px;
    margin-left: 39px;
    text-align: center;
}

.Content__Profile-Right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Profile-Right__Heading {
    margin-top: 50px;
    margin-bottom: 50px;
}

.Profile-Right__Select {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 40px;
}

.Profile-Right__Update {
    height: 40px;
    width: 80px;
    margin-left: 50px;
}

.Profile-Right__Back {
    height: 40px;
    width: 80px;
}

.Profil-Right__Button-div {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 250px;
}


/* ProfilSidan!  */

.Profile__Background {
    background-image: url("./img/finderBackgroundDots.jpg");
    background-size: 100%;
    height: 474px;
    background-repeat: no-repeat;
    display: flex;
}

.Profile__Picture,
.Profile-Picture__Img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border: #6937A8 solid 3px;
}

.Profile-Picture__Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
}

.Profile__Info {
    width: 33%;
}

.Profile-Info__Personal {
    height: 33%;
    display: flex;
    align-items: center;
}

.fa-mars {
    color: white;
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.Profile-Info__Username-Age {
    color: white;
    font-size: 50px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.Profile-Info__City {
    color: white;
    margin-top: 0;
    font-size: 20px;
    margin-left: 30px;
}

.Profile-Info__Discord,
.Profile-Info__Steam,
.Profile-Info__Origin {
    height: 20%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.Profile__Discord-Logo {
    color: #6477C4;
    font-size: 50px;
}

.Profile__Steam-Logo {
    color: #2a475e;
    font-size: 50px;
}

.Origin__Logo {
    width: 50px;
    height: auto;
}

.Profile-Info__Username {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 40px;
}

.Profile__Button {
    width: 33%;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.Profile-Button__Logout {
    margin-right: 50px;
    margin-left: 50px;
}

.Profile-Button__Update,
.Profile-Button__Logout {
    cursor: pointer;
    height: 5%;
}

.Match-Button {
    background: #ac74d9;
    width: 192px;
    height: 67px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 80px;
    cursor: pointer;
}

.Profile__Match-Button {
    width: 50%;
    display: flex;
    justify-content: center;
}

.Profile__MatchList {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile__Wrapper-Container {
    display: flex;
}

.MatchList__Heading {
    margin: 0;
}

.Profile__Wrapper {
    margin: 0;
}

.Hidden {
    display: none;
}